<h3>Input: Second-order extinction k"<sub><em>f</em></sub></h3>
<div class="well">
  <div id="second-order-extinction-success" class="alert alert-success" style="display:none">
    k'' successfully updated.
  </div>
  <div id="second-order-extinction-success" class="alert alert-danger" style="display:none">
    Something went wrong - failed to update your setting.
  </div>
  <p>
    Second-order extinction is nearly constant and usually only significant for B-V color index measurements. Set to 0 if you do not want to include a term for second-order extinction.
  </p>
  <input type="text" class="form-control" style="width:6em" id="second-order-extinction" value="{{reduction.data.second_order_extinction}}" placeholder="0.0" />
</div>
