<div class="color-index-selector">
  <form class="form form-inline">
    <label for="select-color-index">Color index</label>
    <select id="select-color-index" class="form-control js-select-color-index" style="width: 10em">
      <option value="NONE">None</option>
      {% for band in ci_bands %}
        <option value="{{band}}" {% if lightcurve.ciband == band %}selected{% endif %}>{{band}}</option>
      {% endfor %}
    </select>
  </form>
</div>
<div class="image-pair-selector" style="margin-top:1em">
  <table class="table table-striped table-hover table-bordered">
    <thead>
      <tr>
        <th style="vertical-align:middle">
          Observation
        </th>
        <th>
          Filter 1
        </th>
        <th>
          Filter 2
        </th>
      </tr>
    </thead>
    <tbody>
      {% for pair in image_pairs %}
        <tr>
          <td>
            {{forloop.counter}}
          </td>
          {% if pair %}
            <td>
              <button class="btn btn-default js-select-image">Image #{{pair.analysis1.id}}</button>
            </td>
            <td>
              <button class="btn btn-default js-select-image">Image #{{pair.analysis2.id}}</button>
            </td>
          {% else %}
            <td>
              <button class="btn btn-primary js-select-image">Select Image</button>
            </td>
            <td>
              <button class="btn btn-primary js-select-image">Select Image</button>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
