{% extends 'layout.html' %}
{% load staticfiles %}

{% block content %}
  <main class="main">
    <div class="intro" style="background-image: url({% static "imageflow/build/css/images/temp/intro-bg.png" %});">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="intro__content">
              <header class="intro__head">
                <h1 class="intro__title">Welcome to <span>AstroKit</span></h1><!-- /.intro__title -->

                <strong>AstroKit provides a web-based toolset for performing lightcurve photometry.</strong>

                <span>Begin your research by clicking the start button below and uploading your data.</span>
              </header><!-- /.intro__head -->

              <div class="intro__actions">
                <a href="/upload" class="btn">
                  <span>Start now</span>
                </a>

                <a href="/science">Learn more</a>
              </div><!-- /.intro__actions -->

              <footer class="intro__foot">
                <a href="#">
                  <img src="{% static "imageflow/build/css/images/temp/logo-nasa.png" %}" alt="">
                </a>
              </footer><!-- /.intro__foot -->
            </div><!-- /.intro__content -->
          </div><!-- /.col-md-5 -->

          <div class="col-md-7">
            <aside class="intro__aside">
              <figure class="intro__image-tl">
<!--
                <div class="intro__image-caption">
                  <strong>2345,3256</strong>

                  <span>2345,3256</span>
                </div>

                <div class="line"></div>
-->

                <img src="{% static "imageflow/build/css/images/temp/asteroid1.png" %}" alt="">

<!--
                <div class="intro__image-edges-top">
                  <p>N5</p>
                </div>

                <div class="intro__image-edges-bottom">
                  <p>23</p>
                </div>
-->
              </figure><!-- /.intro__image-tl -->

              <figure class="intro__image-tr">
<!--
                <div class="intro__image-caption">
                  <strong>2345,3256</strong>

                  <span>2345,3256</span>

                </div>

                <div class="line"></div>
-->

                <img src="{% static "imageflow/build/css/images/temp/asteroid2.png" %}" alt="">
              </figure><!-- /.intro__image-tr-->

<!--
              <figure class="intro__image-br">
                <a href="#" class="intro__image-caption">
                  Explore the<br /> universe
                </a>

                <img src="{% static "imageflow/build/css/images/temp/nebula.png" %}" alt="">
              </figure>
-->
            </aside><!-- /.intro__aside -->
          </div><!-- /.col-md-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </div><!-- /.intro -->

{% comment %}
    <section class="section">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-5">
            <div class="section__content">
              <header class="section__head">
                <h2 class="section__title">
                  <span>01</span>

                  What is AstroKit?

                  <i class="ico-diamond"></i>
                </h2><!-- /.section__title -->
              </header><!-- /.section__head -->

              <div class="section__body">
                <h5>AstroKit is a set of tools that enables you to participate in asteroid exploration by contributing data through a web browser.</h5>

                <p>
                  <span>You can also use it to download data and to produce graphics of asteroid locations. Our vision is professional scientists, citizen scientists, and students all collaborating to build on the existing knowledge of asteroids.</span>
                </p>
              </div><!-- /.section__body -->

              <div class="section__actions">
                <a href="#" class="link-more">More Info</a>
              </div><!-- /.section__actions -->
            </div><!-- /.section__content -->
          </div><!-- /.col-md-5 -->

          <div class="col-md-7">
            <aside class="section__image">
              <img src="{% static "imageflow/build/css/images/temp/tarantula-nebula.jpg" %}" alt="" class="top">

              <img src="{% static "imageflow/build/css/images/temp/sunrise.jpg" %}" alt="" class="bottom">

              <a href="#" class="btn-play">
                <span>
                  <i class="ico-play"></i>

                  Astrokit in action<br />

                  <strong>Watch video</strong>
                </span>

                <img src="{% static "imageflow/build/css/images/temp/milky-way.jpg" %}" alt="">
              </a>
            </aside><!-- /.section__image -->
          </div><!-- /.col-md-7 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.section -->

    <section class="section section--large" style="background-image: url({% static "imageflow/build/css/images/temp/bg1.jpg" %});">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-6">
            <div class="section__content">
              <header class="section__head">
                <h2 class="section__title">
                  <span>02</span>

                  <i class="ico-abstract"></i>

                  How You Can Help Contribute to AstroKit
                </h2><!-- /.section__title -->
              </header><!-- /.section__head -->

              <div class="section__body">
                <h5>You can help discover asteroids by sharing images of the objects you see in the night sky. </h5>

                <p>
                  <span>Each contribution enables us to map the positions of asteroids with greater accuracy. You can also contribute suggestions on the code. Explore our website for more information.</span>
                </p>
              </div><!-- /.section__body -->
            </div><!-- /.section__content -->
          </div><!-- /.col-md-6 col-md-offset-6 -->
        </div><!-- /.row -->
      </div><!-- /.container -->

      <footer class="section__foot">
        <div class="container">
          <span>Are you ready?</span>

          <a href="#" class="btn btn--solid">Start Now</a>
        </div><!-- /.container -->
      </footer><!-- /.section__foot -->
    </section><!-- /.section ./section-/-large -->
{% endcomment %}

    <section class="section-features">
      <div class="container">
        <div class="tabs">
          <div class="section__inner">
            <div class="section__entry">
              <div class="section__content">
                <h3 class="section__title">The Universe of AstroKit</h3><!-- /.section__title -->

                <p>You can help discover asteroids by sharing images of the objects you see in the night sky.</p>

                <a href="#">MORE INFO</a>
              </div><!-- /.section__content -->

              <div class="section__map">
                <div class="circle">
                  <div class="circle__image">
                    <img src="{% static "imageflow/build/css/images/temp/circles.png" %}" alt="">
                  </div><!-- /.circle__image -->

                  <div class="circle__content">
                    <div class="tabs__nav">
                      <ul>
                        <li>
                          <a href="#applications">
                            <i class="ico-applications"></i>

                            <span>applications</span>
                          </a>
                        </li>

                        <li>
                          <a href="#​​​​​​​analysis">
                            <i class="ico-attention"></i>

                            <span>
                              Image <br />

                              ​​​​​​​analysis
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="#​​​​​​​images">
                            <i class="ico-book"></i>

                            <span>
                              Sample<br />

                              ​​​​​​​images
                            </span>
                          </a>
                        </li>

                        <li>
                          <a href="#contact">
                            <i class="ico-bowl"></i>

                            <span>Contact us</span>
                          </a>
                        </li>

                        <li>
                          <a href="#catalogues">
                            <i class="ico-write"></i>

                            <span>Catalogues</span>
                          </a>
                        </li>

                        <li>
                          <a href="#press">
                            <i class="ico-plugin"></i>

                            <span>press</span>
                          </a>
                        </li>

                        <li>
                          <a href="#terminology" class="hover">
                            <i class="ico-sun"></i>

                            <span>Terminology</span>
                          </a>
                        </li>

                        <li>
                          <a href="#curious">
                            <i class="ico-time"></i>

                            <span>
                              Just <br />

                              ​​​​​​​Curious?
                            </span>
                          </a>
                        </li>
                      </ul>
                    </div><!-- /.tabs__nav -->
                  </div><!-- /.circle__content -->
                </div><!-- /.circle -->
              </div><!-- /.section__map -->
            </div><!-- /.section__entry -->

            <aside class="section__aside">
              <div class="tabs__body">
                <div class="tab current" id="terminology">
                  <h3 class="tab__title">Terminology</h3><!-- /.tab__title -->

                  <ul class="list-features">
                    <li>
                      <a href="#">Information for Scientists and Citizen Scientists</a>
                    </li>

                    <li>
                      <a href="#">Information for Parents, Educators, and Students</a>
                    </li>

                    <li>
                      <a href="#">Information for Artists</a>
                    </li>

                    <li>
                      <a href="#">Information for the Press</a>
                    </li>

                    <li>
                      <a href="#">Curious but not sure how you can contribute? Start here.</a>
                    </li>
                  </ul>
                </div><!-- /.tab -->

                <div class="tab" id="​​​​​​​analysis">
                  <h3 class="tab__title">Image Analysis</h3><!-- /.tab__title -->
                </div><!-- /.tab -->

                <div class="tab" id="​​​​​​​images">
                  <h3 class="tab__title">Sample Images</h3><!-- /.tab__title -->
                </div><!-- /.tab -->

                <div class="tab" id="contact">
                  <h3 class="tab__title">Contact us</h3><!-- /.tab__title -->
                </div><!-- /.tab -->

                <div class="tab" id="catalogues">
                  <h3 class="tab__title">Catalogues</h3><!-- /.tab__title -->
                </div><!-- /.tab -->

                <div class="tab" id="press">
                  <h3 class="tab__title">Press</h3><!-- /.tab__title -->
                </div><!-- /.tab -->

                <div class="tab" id="applications">
                  <h3 class="tab__title">Applications</h3><!-- /.tab__title -->
                </div><!-- /.tab -->

                <div class="tab" id="curious">
                  <h3 class="tab__title">Just Curious?</h3><!-- /.tab__title -->
                </div><!-- /.tab -->
              </div><!-- /.tabs__body -->
            </aside><!-- /.section__aside -->
          </div><!-- /.section__inner -->
        </div><!-- /.tabs -->
      </div><!-- /.container -->
    </section><!-- /.features -->

    <section class="section-info">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="section__entry">
              <h2 class="section__title">The data and science behind AstroKit travels way beyond the stars.</h2>

              <h5>Easily share and compare your results with others.</h5>

              <p>
                <span>Download astrometry, photometry, and reduced lightcurve data and graphics.</span>
              </p>
            </div><!-- /.section__entry -->
          </div><!-- /.col-md-5 -->

          <div class="col-md-6 col-md-offset-1">
            <ul class="list-tiles">
              <li>
                <a href="#">
                  <span>
                    <i class="ico-time"></i>
                  </span>

                  Potential Applications
                </a>
              </li>

              <li class="long">
                <a href="#">
                  <span>
                    <i class="ico-attention"></i>
                  </span>

                  Key<br /> Components<br /> of AstroKIt
                </a>
              </li>

              <li>
                <a href="#">
                  <span>
                    <i class="ico-sun"></i>
                  </span>

                  Using<br /> AstroKit
                </a>
              </li>
            </ul><!-- /.list-tiles -->
          </div><!-- /.col-md-6 -->
        </div><!-- /.row -->

        <div class="section__image" style="background-image: url({% static "imageflow/build/css/images/temp/tarantula-nebula2.jpg" %});">
          <div class="section__image-inner">
            <div class="row">
              <div class="col-md-3 col-md-offset-8">
                <div class="section__image-entry">
                  <h4>Lorem ipsum dolor sir amet, consectetur adipiscing elit.</h4>

                  <p>You can also use it to download data and to produce graphics of asteroid locations.</p>

                  <a href="#" class="link-more">Start Using</a>
                </div><!-- /.section__entry -->
              </div><!-- /.col-md-3 col-md-offset-8 -->
            </div><!-- /.row -->
          </div><!-- /.section__image-inner -->
        </div><!-- /.section__image -->
      </div><!-- /.container -->
    </section><!-- /.features-small -->
  </main><!-- /.main -->
{% endblock %}
