<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload an image</title>
    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{% static 'imageflow/images/favicon.png' %}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static 'imageflow/css/main.css' %}" />
    {% block styles %}{% endblock %}
</head>
<body>
  <div class="content drop-shadow lifted">
    <div class="nav-header">
      <a href="/">AstroKit</a>
    </div>
    <div class="heading-container">
      <h1>{% block heading %}{% endblock %}</h1>
    </div>

    <div>
      {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
