{% extends 'layout-analysis.html' %}
{% load staticfiles %}
{% load jsonify %}

{% block title %}Analysis #{{analysis.id}} Instrumental Photometry{% endblock %}

{% block heading %}Instrumental Photometry{% endblock %}

{% block styles %}
<style>
.header-tooltip {
  color: #337ab7;
  cursor: help;
}

blockquote.smallquote {
  font-size: 12px;
}
</style>
{% endblock %}

{% block content-interior %}

{% with active_crumb='point_sources' %}
  {% include 'imageflow_breadcrumbs.html' %}
{% endwith %}

<h2>Flux and Magnitudes</h2>
<p>
Calculate the background RMS in an array as using the median absolute deviation (MAD).
</p>
<p>
The standard deviation estimator is given by:
</p>
<p>
σ≈{MAD}Φ−1(3/4)≈1.4826 {MAD}<br>
σ≈{MAD}Φ−1(3/4)≈1.4826 {MAD}
</p>
<p>
where Φ−1(P)Φ−1(P) is the normal inverse cumulative distribution function evaluated at probability P=3/4P=3/4.
</p>
<p>
  Sigma clipping is a common way to estimate the background of an image and eliminate background noise.  Outliers above and below 3 sigma are masked.
</p>
<p>
  <blockquote class="smallquote">
    sigma-clipped median (background) = {{analysis.data.sigma_clipped_median|floatformat:3}}
    <br>
    sigma-clipped std = {{analysis.data.sigma_clipped_std|floatformat:3}}
  </blockquote>
</p>
<p>
  After adjusting for background noise, flux and magnitude are estimated using <a href="http://iraf.net/irafhelp.php?val=starfind&help=Help+Page">IRAF Starfind</a> with the following parameters.
  <blockquote class="smallquote">
    fwhm = 2.0
    <br>
    threshold (above background) = 5-sigma
  </blockquote>
</p>

<h3>Parameters</h3>
<div class="well">
  <div>
    <div id="photometry-param-success" class="alert alert-success" style="display:none">
      Parameter successfully updated.
    </div>
    <div id="photometry-param-failure" class="alert alert-danger" style="display:none">
      Something went wrong - failed to update your setting.
    </div>
  </div>
  <form class="form form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-1" for="photometry-sigma">
        Sigma
      </label>
      <div class="col-sm-2">
        <input id="photometry-sigma" class="form-control" type="number" value="{{phot_settings.sigma_psf}}" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="photometry-threshold">
        Threshold
      </label>
      <div class="col-sm-2">
        <input id="photometry-threshold" class="form-control" type="number" value="{{phot_settings.threshold}}" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="photometry-separation">
        Separation
      </label>
      <div class="col-sm-2">
        <input id="photometry-separation" class="form-control" type="number" value="{{phot_settings.crit_separation}}" />
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="photometry-fitshape">
        Fitshape
      </label>
      <div class="col-sm-2">
        <input id="photometry-fitshape" class="form-control" type="number" step="1" min="1" value="{{phot_settings.box_size}}" />
      </div>
    </div>
  </form>
</div>

<div style="margin-bottom:1.8em">
  <button class="btn btn-primary btn-lg js-run-photometry">Re-run photometry</button>
  <img style="display:none" class="page-loader" src="{% static "imageflow/images/loader-eclipse.svg" %}" />
</div>

<hr/>

<h3>Results</h3>
<div class="well">
  <div class="table-wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span class="header-tooltip" data-toggle="tooltip" title="Each point source in this image has a unique ID">ID</span></th>
          <th>Field X</th>
          <th>Field Y</th>
          <th>Flux</th>
          <th>Flux uncertainty (±)</th>
          <th>Flux uncertainty %</th>
          <th>Instrumental mag</th>
        </tr>
      </thead>
      <tbody>
        {% for point_source in analysis.data.coords %}
          <tr {% if point_source.id == analysis.meta.target_id %}class="highlight"{% endif %}>
            <td>{{point_source.id}}</td>
            <td>{{point_source.field_x|floatformat:2}}</td>
            <td>{{point_source.field_y|floatformat:2}}</td>
            <td>{{point_source.flux|floatformat:3}}</td>
            <td>{{point_source.flux_unc|floatformat:3}}</td>
            <td>{{point_source.flux_unc_pct|floatformat:3}}</td>
            <td><strong>{{point_source.mag_instrumental|floatformat:3}}</strong></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="table-actions">
    <a href="#" class="js-scroll-to-target">&raquo; Scroll to target</a>
  </div>
</div>

{% comment %}
<h2>Point-spread function</h2>

<h3>Fluxes for each point source</h3>
<div class="well">
  <img src="{{analysis.urls.psf_bar_url}}" />
  <a href="{{analysis.urls.psf_bar_url}}" download>Download</a>
</div>

<h4>Histogram of flux distribution</h4>
<div class="well">
  <img src="{{analysis.urls.psf_hist_url}}" />
  <a href="{{analysis.urls.psf_hist_url}}" download>Download</a>
</div>

<div class="well">
  <img src="{{analysis.urls.coords_plot_url}}" />
  <a href="{{analysis.urls.coords_plot_url}}" download>Download</a>
</div>

<h3>Computed flux (astrokit) vs astrometry.net coarse flux estimation.</h3>
<div class="well">
  <img src="{{analysis.urls.psf_scatter_url}}" />
  <a href="{{analysis.urls.psf_scatter_url}}" download>Download</a>
</div>
{% endcomment %}

<h3>Residual image (left) vs original (right)</h3>
<div class="well">
  <a href="{{analysis.urls.psf_residual_image_url}}">
    <img src="{{analysis.urls.psf_residual_image_url}}" style="float:left;margin-right:3px;" />
  </a>
  <a href="{{analysis.urls.original_display_url}}">
    <img src="{{analysis.urls.original_display_url}}" />
  </a>
</div>

<h3>Original image</h3>
<div class="well">
</div>

<div style="text-align: right">
  <a href="javascript:window.history.back()" class="btn btn-lg btn-default">Back</a>
  <a href="/analysis/reference_stars/{{analysis.id}}"
     class="btn btn-lg btn-primary">View reference stars</a>
</div>
{% endblock %}

{% block scripts %}
  <script>
    window.analysisId = {{analysis.id | jsonify }};
    window.targetId = {{analysis.meta.target_id | jsonify }};
    window.originalImageUrl = {{analysis.urls.original_display_url | jsonify}};
    window.pointSourceData = {{ analysis.data.coords | jsonify }};
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% static "imageflow/js/shared.js" %}" type="text/javascript"></script>
  <script src="{% static "imageflow/js/util.js" %}" type="text/javascript"></script>
  <script src="{% static "imageflow/js/point_sources.js" %}" type="text/javascript"></script>
{% endblock %}
