{% extends 'layout-analysis.html' %}
{% load staticfiles %}
{% load jsonify %}

{% block title %}Analysis #{{analysis.id}} Instrumental Photometry{% endblock %}

{% block heading %}Instrumental Photometry{% endblock %}

{% block styles %}
<style>
.header-tooltip {
  color: #337ab7;
  cursor: help;
}

blockquote.smallquote {
  font-size: 12px;
}
</style>
{% endblock %}

{% block content-interior %}

{% with active_crumb='point_sources' %}
  {% include 'imageflow_breadcrumbs.html' %}
{% endwith %}

<h2>Flux and Magnitudes</h2>
<p>
Flux is estimated using the <a href="http://stsdas.stsci.edu/cgi-bin/gethelp.cgi?allstar.hlp">DAOPHOT</a> algorithm.  DAOPHOT is a general term for a suite of software writteny by Peter Stetson designed to do stellar photometry on digital images.
</p>
<p>
Stetson's algorithm was developed in the 80s and 90s but is still something of an "industry standard" today.  DAOPHOT photometry routines are part of <a href="http://iraf.noao.edu/">IRAF</a>, a popular suite of tools for photometry and image reduction.  Astrokit uses the astropy photutils <a href="http://photutils.readthedocs.io/en/stable/api/photutils.psf.DAOPhotPSFPhotometry.html">adaptation</a> of the algorithm.
</p>
<p>
  <strong>
    The DAOPHOT fitting algorithm is run automatically with default parameters, but you can use the outputs on this page to tune your photometry.
  </strong>
</p>
<hr>
<p>
The algorithm requires a handful of parameters.  First, we compute the background standard deviation of the image using the <a href="https://en.wikipedia.org/wiki/Median_absolute_deviation">median absolute deviation</a>.
</p>
<p>
The standard deviation estimator is given by:
</p>
<p>
  <blockquote class="smallquote">
    σ ≈ {MAD} / (Φ<sup>−1</sup> * (3/4)) ≈ 1.4826 * {MAD}
  </blockquote>
</p>
<p>
where Φ<sup>−1</sup> * (P) is the normal inverse cumulative distribution function evaluated at probability P=3/4.
</p>
<p>
  Sigma clipping is a common way to estimate the background of an image and eliminate background noise, and is used in this background calculation.  Outliers above and below 3 sigma are masked.
</p>
<p>
  The result is:
  <blockquote class="smallquote">
    sigma-clipped std = {{analysis.data.sigma_clipped_std|floatformat:3}}
  </blockquote>
</p>
<p>
  After adjusting for background noise, flux and magnitude are estimated using the DAOPHOT algorithm with the following parameters:
</p>

<h3>Parameters</h3>
<div class="well">
  <div>
    <div id="photometry-param-success" class="alert alert-success" style="display:none">
      Parameter successfully updated.
    </div>
    <div id="photometry-param-failure" class="alert alert-danger" style="display:none">
      Something went wrong - failed to update your setting.
    </div>
  </div>
  <form class="form form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-1" for="photometry-sigma">
        PSF Sigma
      </label>
      <div class="col-sm-2">
        <input id="photometry-sigma" class="form-control" type="number" value="{{phot_settings.sigma_psf}}" />
      </div>
      <div class="col-sm-5">
        The semi-major axis of the Gaussian convolution kernel used to computed the density enhancement and mean density images in Gaussian sigma.  The FWHM and sigma radius supplied to the algorithm is 2.3548 * sigma_psf.
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="photometry-threshold">
        Threshold
      </label>
      <div class="col-sm-2">
        <input id="photometry-threshold" class="form-control" type="number" value="{{phot_settings.threshold}}" />
      </div>
      <div class="col-sm-5">
        The object detection threshold above local background in units of standard deviation (calculated above).
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="photometry-separation">
        Critical Separation
      </label>
      <div class="col-sm-2">
        <input id="photometry-separation" class="form-control" type="number" value="{{phot_settings.crit_separation}}" />
      </div>
      <div class="col-sm-5">
        If two stars in a group have centroids separated by a critical distance, their photocentric position and combined magnitude is assigned to the brighter of the two and the fainter is eliminated.
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="photometry-fitshape">
        Fitshape
      </label>
      <div class="col-sm-2">
        <input id="photometry-fitshape" class="form-control" type="number" step="1" min="1" value="{{phot_settings.box_size}}" />
      </div>
      <div class="col-sm-5">
        Rectangular shape around the center of a star which will be used to collect the data to do the fitting. <strong>Must be an odd number.</strong>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-1" for="photometry-iters">
        Iterations
      </label>
      <div class="col-sm-2">
        <input id="photometry-iters" class="form-control" type="number" step="1" min="1" value="{{phot_settings.iters}}" />
      </div>
      <div class="col-sm-5">
        Number of iterations to perform the DAOPHOT loop FIND, GROUP, SUBTRACT, NSTAR.
      </div>
    </div>
{% comment %}
    <div class="form-group">
      <label class="control-label col-sm-1" for="photometry-iters">
        Sigma radius
      </label>
      <div class="col-sm-2">
        <input id="photometry-iters" class="form-control" type="number" step="1" min="1" value="{{phot_settings.iters}}" />
      </div>
      <div class="col-sm-5">
        The truncation radius of the Gaussian kernel in units of sigma (standard deviation) [1 sigma = FWHM / (2.0*sqrt(2.0*log(2.0)))].
      </div>
    </div>
{% endcomment %}
  </form>
</div>

<div style="margin-bottom:1.8em">
  <button class="btn btn-primary btn-lg js-run-photometry">Re-run photometry</button>
  <img style="display:none" class="page-loader" src="{% static "imageflow/images/loader-eclipse.svg" %}" />
</div>

<hr/>

{% if select_target %}
  <h3 id="target-selection">Target reselection</h3>
  <div class="alert alert-danger">
    <strong>Your target ID may have changed. Please reselect your target.</strong>
  </div>
  <p>
  {{analysis.data.coords | length}} point sources detected via
  <a href="http://iraf.net/irafhelp.php?val=starfind&help=Help+Page">IRAF Starfind</a>.
  </p>
  {% include 'partials/point_source_plot.html' %}
{% endif %}


<h3>Results</h3>
<p>
This table shows detected point sources and DAOPHOT outputs.  Pay special attention to the instrumental magnitude uncertainty of your target point source.
</p>
<div class="well">
  <div class="table-wrapper">
    <table class="table table-striped">
      <thead>
        <tr>
          <th><span class="header-tooltip" data-toggle="tooltip" title="Each point source in this image has a unique ID">ID</span></th>
          <th>Field X</th>
          <th>Field Y</th>
          <th>Flux</th>
          <th>Flux uncertainty (±)</th>
          <!--<th>Flux uncertainty %</th>-->
          <th>Instrumental mag</th>
          <th>Mag uncertainty (±)</th>
        </tr>
      </thead>
      <tbody>
        {% for point_source in analysis.data.coords %}
          <tr {% if point_source.id == analysis.meta.target_id %}class="highlight"{% endif %}>
            <td>{{point_source.id}}</td>
            <td>{{point_source.field_x|floatformat:2}}</td>
            <td>{{point_source.field_y|floatformat:2}}</td>
            <td>{{point_source.flux|floatformat:3}}</td>
            <td>{{point_source.flux_unc|floatformat:3}}</td>
            <!--<td>{{point_source.flux_unc_pct|floatformat:3}}</td>-->
            <td><strong>{{point_source.mag_instrumental|floatformat:3}}</strong></td>
            <td><strong>{{point_source.mag_instrumental_unc|floatformat:3}}</strong></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="table-actions">
    <a href="#" class="js-scroll-to-target">&raquo; Scroll to target</a>
  </div>
</div>

{% comment %}
<h2>Point-spread function</h2>

<h3>Fluxes for each point source</h3>
<div class="well">
  <img src="{{analysis.urls.psf_bar_url}}" />
  <a href="{{analysis.urls.psf_bar_url}}" download>Download</a>
</div>

<h4>Histogram of flux distribution</h4>
<div class="well">
  <img src="{{analysis.urls.psf_hist_url}}" />
  <a href="{{analysis.urls.psf_hist_url}}" download>Download</a>
</div>

<div class="well">
  <img src="{{analysis.urls.coords_plot_url}}" />
  <a href="{{analysis.urls.coords_plot_url}}" download>Download</a>
</div>

<h3>Computed flux (astrokit) vs astrometry.net coarse flux estimation.</h3>
<div class="well">
  <img src="{{analysis.urls.psf_scatter_url}}" />
  <a href="{{analysis.urls.psf_scatter_url}}" download>Download</a>
</div>
{% endcomment %}

<h3>Residual image (left) vs original (right)</h3>
<p>
The residual ("subtracted") image shows the picture with all the PSF-fitted
stars removed.  Use this image to check your PSF.  Are the faint stars
cleanly removed with no residual traces?  The brightest stars may show noisy
junk around their locations, which is normal.
</p>
<p>
If something looks consistently abnormal, like little holes or donuts
everywhere there was a star, then something is wrong with the PSF and you
should continue to tune your inputs.
</p>
<div class="well">
  <div style="margin-bottom:1em">
    <a class="btn btn-default js-start-blinking" href="#">Start blink comparison</a>
    <a class="btn btn-default js-stop-blinking" href="#" style="display:none">Stop blink comparison</a>
  </div>
  <a href="{{analysis.urls.psf_residual_image_url}}">
    <img src="{{analysis.urls.psf_residual_image_url}}" class="js-blinkable" style="display:inline-block" />
  </a>
  <a href="{{analysis.urls.original_display_url}}">
    <img src="{{analysis.urls.original_display_url}}" class="js-blinkable" style="display:inline-block" />
  </a>
</div>

<div style="text-align: right">
  <a href="javascript:window.history.back()" class="btn btn-lg btn-default">Back</a>
  <a href="/analysis/reference_stars/{{analysis.id}}"
     class="btn btn-lg btn-primary">View reference stars</a>
</div>
{% endblock %}

{% csrf_token %}

{% block scripts %}
  <script>
    window.analysisId = {{analysis.id | jsonify }};
    window.targetId = {{analysis.meta.target_id | jsonify }};
    window.originalImageUrl = {{analysis.urls.original_display_url | jsonify}};
    window.pointSourceData = {{ analysis.data.coords | jsonify }};
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% static "imageflow/js/csrf.js" %}" type="text/javascript"></script>
  <script src="{% static "imageflow/js/shared.js" %}" type="text/javascript"></script>
  <script src="{% static "imageflow/js/util.js" %}" type="text/javascript"></script>
  <script src="{% static "imageflow/js/point_sources.js" %}" type="text/javascript"></script>
{% endblock %}
