{% extends 'layout-analysis.html' %}
{% load staticfiles %}
{% load jsonify %}
{% load humanize %}

{% block heading %}Reference Stars{% endblock %}

{% block styles %}
<style>
.header-tooltip {
  color: #337ab7;
  cursor: help;
}
</style>
{% endblock %}

{% block content-interior %}

{% with active_crumb='reference_stars' %}
  {% include 'imageflow_breadcrumbs.html' %}
{% endwith %}

<h3>Reference Stars</h3>
<p>
{{analysis.data.catalog_reference_stars | length}} catalog stars recognized out of {{analysis.data.coords | length}} point sources total.
</p>
<div class="well" style="overflow: auto; max-height: 400px">
  <table class="table table-striped table-hover">
    <tr>
      <th><span class="header-tooltip" data-toggle="tooltip" title="Each point source in this image has a unique ID">ID</span></th>
      <th>Designation</th>
      <th>Field X</th>
      <th>Field Y</th>
      <th>RA (J2000)</th>
      <th>Dec (J2000)</th>
      <th>Instrumental magnitude</th>
    </tr>
    {% for star in analysis.data.catalog_reference_stars %}
      <tr>
        <td>{{star.id}}</td>
        <td>
          <a target="_blank" href="http://vizier.u-strasbg.fr/viz-bin/VizieR-5?-ref=VIZ592c985c22af&-out.add=.&-source=I/329&-c={{star.index_ra}},{{star.index_dec}},eq=J2000,rs=0.002">{{star.designation}}</a>
        </td>
        <td>{{star.field_x|first|floatformat:2}}</td>
        <td>{{star.field_y|first|floatformat:2}}</td>
        <td>{{star.index_ra|floatformat:5}}</td>
        <td>{{star.index_dec|floatformat:5}}</td>
        <td>{{star.mag_instrumental|floatformat:3}}</td>
      </tr>
    {% endfor %}
  </table>
</div>

<h4>Reference photometry</h4>
<p>
From the <a target="_blank" href="https://www.aavso.org/apass">APASS</a> and <a target="_blank" href="http://www.astro.caltech.edu/~jmc/2mass/v3/transformations/">2MASS</a> catalogs.  For comparison of photometric systems see this <a target="_blank" href="https://en.wikipedia.org/wiki/Photometric_system#Filters_used">reference</a>.
</p>
<div class="well" style="overflow: auto; max-height: 400px">
  <table class="table table-striped table-hover">
    <tr>
      <th><span class="header-tooltip" data-toggle="tooltip" title="Each point source in this image has a unique ID">ID</span></th>
      <th>Designation</th>
      <th>Instrumental magnitude</th>
      <th><span class="header-tooltip" data-toggle="tooltip" title="442 nm">B (Johnson)</span></th>
      <th><span class="header-tooltip" data-toggle="tooltip" title="540 nm">V (Johnson)</span></th>
      <th><span class="header-tooltip" data-toggle="tooltip" title="Color index B-V">B-V</span></th>
      <th><span class="header-tooltip" data-toggle="tooltip" title="475 nm">g' (Sloan)</span></th>
      <th><span class="header-tooltip" data-toggle="tooltip" title="622 nm">r' (Sloan)</span></th>
      <th><span class="header-tooltip" data-toggle="tooltip" title="Color index g'-r'">g'-r'</span></th>
      <th><span class="header-tooltip" data-toggle="tooltip" title="763 nm">i' (Sloan)</span></th>
      <th><span class="header-tooltip" data-toggle="tooltip" title="1250 nm">J (2MASS)</span></th>
      <th><span class="header-tooltip" data-toggle="tooltip" title="1650 nm">H (2MASS)</span></th>
      <th><span class="header-tooltip" data-toggle="tooltip" title="2150 nm">K (2MASS)</span></th>
    </tr>
    {% for star in analysis.data.catalog_reference_stars %}
      <tr>
        <td>{{star.id}}</td>
        <td>
          <a target="_blank" href="http://vizier.u-strasbg.fr/viz-bin/VizieR-5?-ref=VIZ592c985c22af&-out.add=.&-source=I/329&-c={{star.index_ra}},{{star.index_dec}},eq=J2000,rs=0.002">{{star.designation}}</a>
        </td>
        <td>{{star.mag_instrumental|floatformat:3}}</td>
        <td>{{star.Bmag}}</td>
        <td>{{star.Vmag}}</td>
        <td>{{star.delta_BV}}</td>
        <td>{{star.gmag}}</td>
        <td>{{star.rmag}}</td>
        <td>{{star.delta_gr}}</td>
        <td>{{star.imag}}</td>
        <td>{{star.Jmag}}</td>
        <td>{{star.Hmag}}</td>
        <td>{{star.Kmag}}</td>
      </tr>
    {% endfor %}
  </table>
</div>

<h4>Catalog Stars</h4>
<div class="well">
  <p>
    <span style="color:red">Red</span>: Reference stars matched to URAT1 catalog<br>
    <span style="color:green">Green</span>: Point sources from previous step
  </p>
  <p>
    Cursor position:
    (<span id="canvas-x-pos">0</span>,
    <span id="canvas-y-pos">0</span>)
  </p>
  <div>
    <canvas id="star-plot" style="cursor: crosshair" />
  </div>
</div>

<h3>Unknown point sources</h3>
<p>
{{analysis.data.unknown_stars | length}} point sources that were not matched to reference stars.
</p>
<div class="well" style="overflow: auto; max-height: 400px">
  <table class="table table-striped table-hover">
    <tr>
      <th><span class="header-tooltip" data-toggle="tooltip" title="Each point source in this image has a unique ID">ID</span></th>
      <th>Field X</th>
      <th>Field Y</th>
      <th>RA (J2000)</th>
      <th>Dec (J2000)</th>
      <th>Instrumental magnitude</th>
    </tr>
    {% for star in analysis.data.unknown_stars %}
      <tr>
        <td>{{star.id}}</td>
        <td>{{star.field_x|floatformat:2}}</td>
        <td>{{star.field_y|floatformat:2}}</td>
        <td>{{star.index_ra|floatformat:5}}</td>
        <td>{{star.index_dec|floatformat:5}}</td>
        <td>{{star.mag_instrumental|floatformat:3}}</td>
      </tr>
    {% endfor %}
  </table>
</div>

<div style="text-align: right">
  <a href="javascript:window.history.back()" class="btn btn-lg btn-default">Back</a>
  <a href="/analysis/reduction/{{analysis.id}}" class="btn btn-lg btn-primary">Continue to data reduction</a>
</div>
{% endblock %}

{% block scripts %}
  <script>
    window.originalImageUrl = {{analysis.urls.original_display_url | jsonify}};
    window.pointSourceData = {{ analysis.data.coords | jsonify }};
    window.catalogData = {{ analysis.data.catalog_reference_stars | jsonify }};
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="{% static "imageflow/js/submission.js" %}" type="text/javascript"></script>
{% endblock %}
