{% extends 'layout-internal.html' %}
{% load staticfiles %}

{% block heading %}View submission{% endblock %}

{% block content %}
<main class="main">
	<div class="container">
		This submission is being processed.  The page will refresh periodically and results will appear when they're ready.
	</div>
</main>

{% endblock %}

{% block scripts %}
	<script>
	setTimeout(function() {
	  window.location.reload(true);
	}, 5000);
	</script>
{% endblock scripts %}

{% block styles %}
	<style type="text/css">
    .container {
      margin-bottom: 40px;

    }
	</style>
{% endblock %}
