{% extends 'layout-analysis.html' %}
{% load staticfiles %}
{% load jsonify %}

{% block heading %}Submission - Astrometry{% endblock %}

{% block content-interior %}
<ol class="breadcrumb">
  <li class="active">Astrometry</li>
  <li><a href="#">Point Sources</a></li>
  <li><a href="#">Reference Stars</a></li>
  <li><a href="#">Reduction</a></li>
  <li><a href="#">Light Curve</a></li>
</ol>

<h3>Original image</h3>
<div class="well">
  <img src="{{result.urls.original_display_url}}" />
  <a href="{{result.urls.original_display_url}}" download>Download</a>
</div>

<h3>Date &amp; time</h3>
<p>
Parsed from fits <code>DATE-OBS</code> field (ISO 8601 format).
</p>
<div class="well">
  <div id="edit-image-datetime-success" class="alert alert-success" style="display:none">
    Date and time successfully updated.
  </div>
  <div id="edit-image-datetime-success" class="alert alert-danger" style="display:none">
    Something went wrong - failed to update your setting.
  </div>
  <input id="edit-image-datetime" class="form-control" style="width: 30em" type="text" value="{{result.meta.datetime | date:'c'}}">
</div>

<h3>Filter</h3>
<p>
Select the standard filter that most closely matches the filter used for this image.
</p>
<div class="well">
  <div id="select-filter-name-success" class="alert alert-success" style="display:none">
    Filter successfully updated.
  </div>
  <div id="select-filter-name-failure" class="alert alert-danger" style="display:none">
    Something went wrong - failed to update your setting.
  </div>
  <label>
    <select class="form-control" id="select-filter-name">
      {% for filter in image_filters %}
        <option value="{{filter.band}}" {% if filter.band == result.meta.image_band %}selected{% endif %}>
          {{filter.band}} ({{filter.system}})
        </option>
      {% endfor %}
    </select>
  </label>
</div>

<h3>Coordinates</h3>
<p>
Latitude Longitude coordinates of observation.
</p>
<div class="well">
  <div id="set-latlng-success" class="alert alert-success" style="display:none">
    Coordinates successfully updated.
  </div>
  <div id="set-latlng-success" class="alert alert-danger" style="display:none">
    Something went wrong - failed to update your setting.
  </div>
  Latitude <input id="set-latitude" class="form-control" style="width: 30em" type="text" value="{{result.meta.longitude}}">
  <br>
  Longitude <input id="set-longitude" class="form-control" style="width: 30em" type="text" value="{{result.meta.latitude}}">
</div>

<h3>Elevation</h3>
<p>
Elevation above sea level, in meters.
</p>
<div class="well">
  <div id="set-elevation-success" class="alert alert-success" style="display:none">
    Elevation successfully updated.
  </div>
  <div id="set-elevation-success" class="alert alert-danger" style="display:none">
    Something went wrong - failed to update your setting.
  </div>
  <input id="set-elevation" class="form-control" style="width: 30em" type="text" value="{{result.meta.elevation}}">
</div>

<h3>Annotated image</h3>
<div class="well">
  <img src="{{result.urls.astrometry_annotated_display_url}}" />
  <a href="{{result.urls.astrometry_annotated_display_url}}" download>Download</a>
</div>

<div style="text-align: right">
  <a href="javascript:window.history.back()" class="btn btn-lg btn-default">Back</a>
  <a href="/submission/point_sources/{{result.subid}}"
     class="btn btn-lg btn-primary">View point source analysis</a>
</div>
{% endblock %}

{% csrf_token %}

{% block scripts %}
  <script>
    window.subid = {{result.subid | jsonify }};
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static "imageflow/js/submission_util.js" %}" type="text/javascript"></script>
  <script src="{% static "imageflow/js/submission_astrometry.js" %}" type="text/javascript"></script>
{% endblock %}
