{% extends 'layout.html' %}
{% load staticfiles %}
{% load jsonify %}

{% block heading %}Submission - Astrometry{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li class="active">Astrometry</li>
  <li><a href="#">Point Sources</a></li>
  <li><a href="#">Reference Stars</a></li>
  <li><a href="#">Light Curve</a></li>
</ol>

<h3>Original</h3>
<div class="well">
  <img src="{{result.urls.original_display_url}}" />
  <a href="{{result.urls.original_display_url}}" download>Download</a>
</div>

<h3>Date &amp; time</h3>
<div class="well">
  <input class="input-lg" type="text" value="{{result.meta.image_datetime}}" disabled>
</div>

<h3>Point source coordinates</h3>
<a href="{{result.urls.coords_json_url}}">Coordinates JSON</a>
&middot;
<a href="{{result.urls.coords_fits_url}}">Coordinates FITS</a>
<div class="well">
  <img src="{{result.urls.coords_plot_url}}" />
  <a href="{{result.urls.coords_plot_url}}" download>Download</a>
</div>

<div class="well" style="overflow: auto; max-height: 400px">
  <table class="table table-striped">
    <tr>
      <th>Field X</th>
      <th>Field Y</th>
      <th>Estimated flux</th>
      <th>Estimated magnitude</th>
    </tr>
    {% for point_source in result.data.coords %}
      <tr>
        <td>{{point_source.field_x}}</td>
        <td>{{point_source.field_y}}</td>
        <td>{{point_source.est_flux}}</td>
        <td>{{point_source.est_mag}}</td>
      </tr>
    {% endfor %}
  </table>
</div>

<div style="text-align: right">
  <a href="javascript:window.history.back()" class="btn btn-lg btn-default">Back</a>
  <a href="/submission/point_sources/{{result.subid}}"
     class="btn btn-lg btn-success">View point source analysis</a>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
