{% extends 'layout-analysis.html' %}
{% load staticfiles %}
{% load jsonify %}

{% block title %}Analysis #{{analysis.id}} Summary{% endblock %}

{% block heading %}Summary{% endblock %}

{% block content-interior %}

{% with active_crumb='astrometry' %}
  {% include 'imageflow_breadcrumbs.html' %}
{% endwith %}

<p>
Submission #{{analysis.subid}} &middot; Analysis #{{analysis.id}} &middot; {{analysis.meta.uploaded_image.original_filename}}
</p>

<h3>Original image</h3>
<div class="well">
  <a href="{{analysis.urls.original_display_url}}">
    <img src="{{analysis.urls.original_display_url}}" />
  </a>
  <a href="{{analysis.urls.original_display_url}}" download>Download</a>
</div>

<h3>Target selection</h3>
<p>
{{analysis.data.coords | length}} point sources detected via
<a href="http://iraf.net/irafhelp.php?val=starfind&help=Help+Page">IRAF Starfind</a>.
</p>
<a href="{{analysis.urls.coords_json_url}}">Coordinates JSON</a>
&middot;
<a href="{{analysis.urls.coords_fits_url}}">Coordinates FITS</a>

<div class="well">
  Cursor position:
  (<span id="canvas-x-pos">0</span>,
  <span id="canvas-y-pos">0</span>)
  <div>
    <canvas id="star-plot" style="cursor: crosshair" />
  </div>

  <div>
    <div id="target-id-success" class="alert alert-success" style="display:none">
      Target ID successfully updated.
    </div>
    <div id="target-id-failure" class="alert alert-danger" style="display:none">
      Something went wrong - failed to update your setting.
    </div>
    <p>Enter the ID number of your target point source:</p>
    <input id="target-id"
           class="form-control"
           type="number"
           min="0"
           max="{{analysis.data.coords | length}}"
           value="{{analysis.meta.target_id}}"/>
  </div>
</div>

<h3>Date &amp; time</h3>
<p>
Parsed from fits <code>DATE-OBS</code> field (ISO 8601 format).
</p>
<div class="well">
  <div id="edit-image-datetime-success" class="alert alert-success" style="display:none">
    Date and time successfully updated.
  </div>
  <div id="edit-image-datetime-success" class="alert alert-danger" style="display:none">
    Something went wrong - failed to update your setting.
  </div>
  <input id="edit-image-datetime" class="form-control" style="width: 30em" type="text" value="{{analysis.meta.datetime | date:'c'}}">
</div>

<h3>Filter</h3>
<p>
Select the standard filter that most closely matches the filter used for this image.
</p>
<div class="well">
  <div id="select-filter-name-success" class="alert alert-success" style="display:none">
    Filter successfully updated.
  </div>
  <div id="select-filter-name-failure" class="alert alert-danger" style="display:none">
    Something went wrong - failed to update your setting.
  </div>
  <label>
    <select class="form-control" id="select-filter-name">
      {% for filter in image_filters %}
        <option value="{{filter.band}}" {% if filter.band == analysis.meta.image_band %}selected{% endif %}>
          {{filter.band}} ({{filter.system}})
        </option>
      {% endfor %}
    </select>
  </label>
</div>

<h3>Coordinates</h3>
<p>
Latitude Longitude coordinates of observation.
</p>
<div class="well">
  <div id="set-latlng-success" class="alert alert-success" style="display:none">
    Coordinates successfully updated.
  </div>
  <div id="set-latlng-success" class="alert alert-danger" style="display:none">
    Something went wrong - failed to update your setting.
  </div>
  Latitude <input id="set-latitude" class="form-control" style="width: 30em" type="text" value="{{analysis.meta.longitude}}">
  <br>
  Longitude <input id="set-longitude" class="form-control" style="width: 30em" type="text" value="{{analysis.meta.latitude}}">
</div>

<h3>Elevation</h3>
<p>
Elevation above sea level, in meters.
</p>
<div class="well">
  <div id="set-elevation-success" class="alert alert-success" style="display:none">
    Elevation successfully updated.
  </div>
  <div id="set-elevation-success" class="alert alert-danger" style="display:none">
    Something went wrong - failed to update your setting.
  </div>
  <input id="set-elevation" class="form-control" style="width: 30em" type="text" value="{{analysis.meta.elevation}}">
</div>

{% comment %}
<h3>Annotated image</h3>
<div class="well">
  <img src="{{analysis.urls.astrometry_annotated_display_url}}" />
  <a href="{{analysis.urls.astrometry_annotated_display_url}}" download>Download</a>
</div>
{% endcomment %}

<div style="text-align: right">
  <a href="javascript:window.history.back()" class="btn btn-lg btn-default">Back</a>
  <a href="/analysis/point_sources/{{analysis.id}}"
     class="btn btn-lg btn-primary">View instrumental photometry</a>
</div>
{% endblock %}

{% csrf_token %}

{% block scripts %}
  <script>
    window.analysisId = {{analysis.id | jsonify }};
    window.originalImageUrl = {{analysis.urls.original_display_url | jsonify}};
    window.pointSourceData = {{ analysis.data.coords | jsonify }};
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{% static "imageflow/js/shared.js" %}" type="text/javascript"></script>
  <script src="{% static "imageflow/js/util.js" %}" type="text/javascript"></script>
  <script src="{% static "imageflow/js/astrometry.js" %}" type="text/javascript"></script>
{% endblock %}
