{% extends 'layout.html' %}
{% load staticfiles %}

{% block title %}Upload an image{% endblock %}

{% block heading %}Upload an image{% endblock %}

{% block header %}
  <header class="header header--secondary">
    <a href="#" class="logo-small">AstroKit</a>
    <div class="header__inner">
      <div class="container">
        <a href="#" class="link-nav">
          <i class="ico-arrow-left"></i>

          Back
        </a>

        <nav class="nav nav--secondary">
          <ul>
            <li>
              <a href="#">Browse Images</a>
            </li>

            <li>
              <a href="#">My uploads</a>
            </li>

            <li>
              <a href="#">Upload Images</a>
            </li>
          </ul>
        </nav><!-- /.nav /.nav-/-secondary -->
      </div><!-- /.container -->
    </div><!-- /.header__inner -->

    <a href="#" class="link-nav">
      Logout

      <i class="ico-upload"></i>
    </a>
  </header><!-- /.header -->
{% endblock header %}


{% block content %}

  <main class="main">
    <div class="container">
      <form class="section-upload dropzone" action="/upload{% if lightcurve_id %}/{{lightcurve_id}}{% endif %}" id="dropzone-upload" method="post" enctype="mutlipart/form-data">{% csrf_token %}
        <header class="section-upload__head">
          <h2 class="section-upload__title">
            Upload an <span>Image{% if lightcurve_id %} for Light Curve {{lightcurve_id}}{% endif %}</span>
          </h2><!-- /.section-upload__title -->

          <h6 class="section-upload__subtitle">
            Max 150 Images<span>*</span>
          </h6><!-- /.section-upload__subtitle -->
        </header><!-- /.section-upload__head -->

        <div class="section-upload__body">
          <div class="upload-field " >
            <div class="upload-field__entry">
              <i class="ico-files"></i>

              <h5>To upload image drag and drop<br>or</h5>

              <div class="btn btn--solid browse">Browse</div>

              <p>.fits (preferred), .png, .jpg</p>
            </div><!-- /.upload-field__entry -->
          </div><!-- /.upload-field -->

          <div class="upload-files">
            <div class="row">

            </div><!-- /.row -->
          </div><!-- /.upload-field__files -->
        </div><!-- /.section-upload__body -->

        <div class="section-upload__actions">
          <div class="btn btn--solid process_queue">Submit</div>
        </div><!-- /.section-upload__actions -->
        <div class="fallback">
          <input name="file" type="file" multiple />
        </div>
      </form><!-- /.section-upload -->
    </div><!-- /.container -->
  </main><!-- /.main -->
{% endblock %}
{% block scripts %}
  <script src="{% static "imageflow/js/lib/dropzone.js" %}" type="text/javascript"></script>
  <script src="{% static "imageflow/js/upload.js" %}" type="text/javascript"></script>
{% endblock %}

{% block styles %}

{% endblock %}
