<div class="well">
<table class="table table-compact" style="max-width:400px">
<tr>
<th>Class</th>
<th>Effective temperature</th>
<th>Color</th>
</tr>
<tr>
<td>O</td>
<td>≥&#160;30,000&#160;K</td>
<td style="background:#92B5FF;">blue</td>
</tr>
<tr>
<td>B</td>
<td>10,000–30,000&#160;K</td>
<td style="background:#A2C0FF;">deep blue white</td>
</tr>
<tr>
<td>A</td>
<td>7,500–10,000&#160;K</td>
<td style="background:#D5E0FF;">blue white</td>
</tr>
<tr>
<td>F</td>
<td>6,000–7,500&#160;K</td>
<td style="background:#F9F5FF;">white</td>
</tr>
<tr>
<td>G</td>
<td>5,200–6,000&#160;K</td>
<td style="background:#FFEDE3;">yellowish white</td>
</tr>
<tr>
<td>K</td>
<td>3,700–5,200&#160;K</td>
<td style="background:#FFDAB5;">pale yellow orange</td>
</tr>
<tr>
<td>M</td>
<td>2,400–3,700&#160;K</td>
<td style="background:#FFB56C;">light orange red</td>
</tr>
</table>
</div>
