{% extends "layout.html" %}
{% load static %}
{% block styles %}
  <link rel="stylesheet" href="{% static "accounts/css/style.css" %}" />
{% endblock %}

{% block content %}
		
<main class="main">
	<div class="container accounts-container">
		<h2 class="text-center">Registeration</h2>
		{% if form.errors %}
			<div class="alert alert-danger">{{ form.errors }}</div>
		{% endif %}
		<form action="{% url "register" %}" method="post">{% csrf_token %}
			{% for field in form %}
				{% if field.error %}
					<div class="alert alert-danger">{{ field.error }}</div>
				{% endif %}
				<div class="form-group">
					<label>{{ field.label }}</label><br>
					{{ field }}
				</div>
				
			{% endfor %}
			<input type="submit" name="" class="btn btn-primary" value="Register">
		</form>
	</div>		
</main>

{% endblock content %}