body {
  background-color: #252525;
  font-family: "proxima-nova",Helvetica,sans-serif;
}
.nav-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #CFBCB9;
  padding: 10px;
  padding-left: 40px;
  z-index: 9999;
}
.nav-header a {
  color: #000;
}
.heading-container {
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 15px;
}
.content {
  background-color: #fffefb;
  max-width: 900px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 35px;
}
.drop-shadow {
  position:relative;
  /*float:left;*/
  width:80%;
  margin: 0 auto;
  /* uncomment for gap in top */
  /*margin-top: 30px;*/
  margin-bottom: 40px;
  /*margin:2em 10px 4em;*/
  background-color:#fffefb;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute;
  z-index:-2;
}
.lifted{
  -moz-border-radius:4px;
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;
}
.lifted:before,
.lifted:after{
  bottom:20px;
  left:10px;
  width:90%;
  height:20%;
  /*max-width:300px;*/
  max-height:100px;
  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  -ms-transform:rotate(-3deg);
  -o-transform:rotate(-3deg);
  transform:rotate(-3deg);
}
.lifted:after{
  right:10px;
  left:auto;
  -webkit-transform:rotate(3deg);
  -moz-transform:rotate(3deg);
  -ms-transform:rotate(3deg);
  -o-transform:rotate(3deg);
  transform:rotate(3deg);
}
