body {
  font-family: "proxima-nova",Helvetica,sans-serif;
}

.nav-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #CFBCB9;
  padding: 10px;
  padding-left: 40px;
  z-index: 9999;
}

.nav-header a {
  color: #000;
}

hr {
  border-color: #ccc;
}

.heading-container {
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-bottom: 15px;
}

ol.breadcrumb > li.active a {
  text-decoration: none;
  color: #444;
}

.table-wrapper {
  overflow: auto;
  max-height: 400px;
}

.table-wrapper th[data-sort] {
  cursor: ns-resize;
}
.table-wrapper th.sorting-asc:after {
  content: ' ↑';
}
.table-wrapper th.sorting-desc:after {
  content: ' ↓';
}

.table-actions {
  margin-top: 1.5em;
}

th {
  background-color: #f3ddb4;
}

tr.highlight {
  background-color: yellow !important;
  font-weight: bold;
}

.container-internal {
  width: 100%;
  margin: 0;
  padding: 0;
}

.run-reductions-mask {
  font-size: 14px;
  text-align: center;
}

.run-reductions-mask img {
  margin: 0 auto;
}

.content {
  background-color: #fffefb;
  max-width: 1280px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 35px;
}

.well img {
  display: block;
}

.well {
  border: 1px solid #c5b7b7;
}

.fullscreen .modal-dialog {
  width: 90%;
  height: 90%;
}

.fullscreen .modal-content {
  height: auto;
  min-height: 90%;
  border-radius: 0;
}

.fullscreen .modal-body {
  height: 80vh;
}

.modal iframe {
  width: 100%;
  height: 100%;
  border: none;
}
