{% extends 'layout-internal.html' %}
{% load staticfiles %}

{% block styles %}
<style>
h1 span {
  color:#286090;
}

h4 {
  display: inline-block;
}

img.user-image {
  display: inline;
  max-width: 100px;
  max-height: 100px;
}

.image-container {
  display: inline-block;
  margin: 1em;
  vertical-align: middle;
}

article {
  display: inline-block;
  vertical-align: middle;
}

article a {
  margin: 6px 3px;
  margin-top: 0px;
}

.upload {
  margin-top: -20px;
}

</style>
{% endblock %}

{% block content-interior %}
{% if request_all %}
  <h1>All Light Curves</h1>
{% else %}
  <h1>Light Curve by {{request.user}}</h1>
{% endif %}
<div>

  {% for context in contexts %}
    <div class="well">
      <h4><a href="/lightcurve/{{context.lightcurve.id}}/edit">Light Curve #{{context.lightcurve.id}}: </a><small>{{context.lightcurve.name}}</small></h4>

      {%if context.images%}
        {% for image in context.images %}
          <div class="well">
            <div class="image-container">
              {% if image.analysis.original_display_url %}
                <a href="/submission/{{image.submission.subid}}">
                  <img src="{{image.analysis.original_display_url}}" class="user-image" />
                </a>
              {% else %}
                <a href="/submission/{{image.submission.subid}}" class="alert alert-warning">Image Not Loaded</a>
              {% endif %}
            </div>
            <article>
              <strong>
                <a href="/submission/{{image.submission.subid}}">
                  Submission #{{image.submission.subid}}
                </a>
              </strong>
              <br>
              Filename:
              <a download href="{{image.image_url}}">
                {{image.original_filename | truncatechars:50}}
              </a><br>
              Uploaded: {{image.created_at}}<br>
            </article>
          </div>
        {% endfor %}
      {% else %}
        <br>
        <article>No images uploaded</article>
        <a href="{% url "upload_image" %}" class="btn btn-primary pull-right upload">Upload Images</a>
      {% endif %}

    </div>
  {% endfor %}
</div>
{% endblock %}

{% csrf_token %}

