{% extends 'layout-analysis.html' %}

{% block content-interior %}
<h1>Light Curve <u>{{lightcurve.name}}</u></h1>
<div>
  <p>
    There are {{ images | length }} images in your light curve:
  </p>
  {% for image in images %}
  <div class="well">
    Filename: <strong>{{image.original_filename}}</strong><br>
    Uploaded at: {{image.created_at}}<br>

    Status:
    {% if not image.analysis.astrometry_original_display_url %}
      <span style="color:red">Unverified</span>
    {% elif not image.analysis.reduction or image.analysis.reduction.status != 'COMPLETE' %}
      <span style="color:orange">Astrometry, Photometry Verified</span>
    {% else %}
      <span style="color:green">Reduction calculated</span>
    {% endif %}

    <div>
      {% if image.analysis.astrometry_original_display_url %}
        <img src="{{image.analysis.astrometry_original_display_url}}" />
      {% else %}
        <img src="https://dummyimage.com/350x200/000/fff.png&text=Create+Analysis+to+view+image" />
      {% endif %}
    </div>

    <div>
      {% if image.analysis %}
        <a href="/submission/{{image.astrometry_submission_id}}" class="btn btn-primary">View Analysis</a>
      {% else %}
        <a href="/submission/{{image.astrometry_submission_id}}" class="btn btn-primary">Create Analysis</a>
      {% endif %}
      <a download href="{{image.image_url}}" class="btn btn-default">Download Original</a>
      <a href="http://nova.astrometry.net/status/{{image.astrometry_submission_id}}" class="btn btn-default">Astrometry.net</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
