{% extends 'layout-internal.html' %}
{% load staticfiles %}

{% block styles %}
<style>
h1 span {
  color:#286090;
}

.user-image {
  max-width: 300px;
  max-height: 300px;
}
</style>
{% endblock %}

{% block content-interior %}
<h1>Light Curve <span>{{lightcurve.name}}</span></h1>
<div>
  <p>
    This light curve contains {{ images | length }} images:
  </p>
  {% for image in images %}
  <div id="image-{{forloop.counter0}}" class="well">
    Filename:
    <a download href="{{image.image_url}}">
      {{image.original_filename}}
    </a><br>
    Uploaded: {{image.created_at}}<br>

    Status:
    {% if image.analysis and image.analysis.status == 'PENDING'  %}
      <span style="color:red"><strong>Analysis pending</strong></span>
    {% elif image.analysis and image.analysis.status == 'FAILED'  %}
      <span style="color:red"><strong>Analysis failed</strong></span>
    {% elif image.submission and image.submission.status == 'FAILED_TO_SUBMIT' %}
      <span style="color:red"><strong>Submission failed</strong></span>
    {% elif image.submission and image.submission.status == 'FAILED_TO_PROCESS' %}
      <span style="color:red"><strong>Processing failed</strong></span>
    {% elif image.analysis.reduction %}
      <span style="color:green">Calculated reductions</span>
    {% elif image.analysis %}
      <span style="color:blue">Astrometry, photometry ready</span>
    {% elif image.submission %}
      <span style="color:orange">Pending analysis</span>
    {% else %}
      <span style="color:purple">Uploaded, pending submission</span>
    {% endif %}

    <div>
      {% if image.analysis.original_display_url %}
        <a href="{{image.analysis.original_display_url}}">
          <img src="{{image.analysis.original_display_url}}" class="user-image" />
        </a>
      {% endif %}
    </div>

    <div>
      {% if image.analysis %}
        <a href="/submission/{{image.submission.subid}}" class="btn btn-primary">Review Analysis</a>
      {% endif %}
      {% if image.submission %}
        <a href="http://nova.astrometry.net/status/{{image.submission.subid}}" class="btn btn-default">View on Astrometry.net</a>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}

{% csrf_token %}

{% block scripts %}
  <script src="{% static "imageflow/js/submission_util.js" %}" type="text/javascript"></script>
  <script src="{% static "lightcurve/js/lightcurve.js" %}" type="text/javascript"></script>
{% endblock %}
